footer .part1 {
  height: 220px;
  background-color: #f7f7f7;
}
footer .part1 ul {
  padding-top: 36px;
}
footer .part1 ul li {
  float: left;
  border-right: 1px solid #1c1f21;
  padding: 0 70px;
  height: 16px;
  line-height: 16px;
}
footer .part1 ul li a {
  color: #1c1f21;
  font-size: 16px;
}
footer .part1 ul li:first-child {
  padding-left: 0;
}
footer .part1 ul li:last-child {
  border-right: none;
  padding-right: 0;
}
footer .part1 .dlbox {
  padding-top: 40px;
}
footer .part1 dl {
  width: 289px;
  float: left;
  padding-left: 75px;
  margin-right: 30px;
  position: relative;
}
footer .part1 dl:last-child {
  margin-right: 0;
}
footer .part1 dl dt {
  font-weight: bold;
  margin-bottom: 10px;
}
footer .part1 dl::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url(images/icons.png);
  left: 0;
}
footer .part1 dl dd {
  font-size: 14px;
}
footer .part1 dl.txfw::before {
  background-position: -150px -178px;
  fill: #ff9d00; /* 修改的颜色 */
  filter: hue-rotate(-133deg); /* 通过色相旋转修改颜色 */
}
footer .part1 dl.ccsx::before {
  background-position: -150px -104px;
  fill: #ff9d00; /* 修改的颜色 */
  filter: hue-rotate(-133deg); /* 通过色相旋转修改颜色 */
}
footer .part1 dl.axph::before {
  background-position: -150px -31px;
  fill: #ff9d00; /* 修改的颜色 */
  filter: hue-rotate(-133deg); /* 通过色相旋转修改颜色 */
}
