.head {
  height: 11.7333vw;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 2.9333vw 4.8vw 0;
}
.head .iconfont {
  width: 2.48vw;
  height: 4.2667vw;
  color: #b6b6b6;
}
.head .title {
  font-size: 4.2667vw;
  color: #333333;
}
.head .button {
  font-size: 3.7333vw;
  color: #333333;
  text-align: right;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #f8f8f8;
}
.container div.title {
  margin-top: 4.2667vw;
  margin-bottom: 3.2vw;
  padding: 0 4.8vw;
  font-size: 3.7333vw;
  color: #333333;
  font-weight: 500;
}
.container .address-list .address-item {
  width: 90.4vw;
  height: 27.7333vw;
  background: #ffffff;
  border-radius: 1.0667vw;
  margin: 0 auto 4.2667vw;
  padding: 4.8vw 4.2667vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .address-list .address-item .left .top {
  margin-bottom: 2.1333vw;
}
.container .address-list .address-item .left .top .username {
  font-size: 3.7333vw;
  color: #999999;
  margin-right: 17.6vw;
}
.container .address-list .address-item .left .top .phone {
  font-size: 3.7333vw;
  color: #999999;
}
.container .address-list .address-item .left .bottom .address-info {
  width: 69.3333vw;
  height: 10.6667vw;
  font-size: 3.7333vw;
  color: #333333;
  font-weight: 500;
  line-height: 5.8667vw;
}
.container .address-list .address-item .right .iconfont {
  font-size: 4.2667vw;
  color: #999999;
}