@import "./head-common.scss";
.container {
  width: 100vw;
  height: 100vh;
  background-color: #f8f8f8;
  div.title {
    margin-top: 4.2667vw;
    margin-bottom: 3.2vw;
    padding: 0 4.8vw;
    font-size: 3.7333vw;
    color: #333333;
    font-weight: 500;
  }
  .address-list {
    .address-item {
      width: 90.4vw;
      height: 27.7333vw;
      background: #ffffff;
      border-radius: 1.0667vw;
      margin: 0 auto 4.2667vw;
      padding: 4.8vw 4.2667vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .left {
        .top {
          margin-bottom: 2.1333vw;
          .username {
            font-size: 3.7333vw;
            color: #999999;
            margin-right: 17.6vw;
          }
          .phone {
            font-size: 3.7333vw;
            color: #999999;
          }
        }
        .bottom {
          .address-info {
            width: 69.3333vw;
            height: 10.6667vw;
            font-size: 3.7333vw;
            color: #333333;
            font-weight: 500;
            line-height: 5.8667vw;
          }
        }
      }
      .right {
        .iconfont {
          font-size: 4.2667vw;
          color: #999999;
        }
      }
    }
  }
}
