.head {
  height: 11.7333vw;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 2.9333vw 4.8vw 0;
}
.head .iconfont {
  width: 2.48vw;
  height: 4.2667vw;
  color: #b6b6b6;
}
.head .title {
  font-size: 4.2667vw;
  color: #333333;
}
.head .button {
  font-size: 3.7333vw;
  color: #333333;
  text-align: right;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #f8f8f8;
}
.container .info {
  width: 100vw;
  height: 59.7333vw;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 3.2vw;
}
.container .info .item .text {
  font-size: 3.7333vw;
  color: #666666;
  line-height: 5.3333vw;
  margin-left: 4.8vw;
}
.container .info .item .item-input {
  font-size: 3.7333vw;
  color: #333333;
  line-height: 5.3333vw;
  font-weight: 500;
}
.container .info .item .item-input::-moz-placeholder {
  font-size: 3.7333vw;
  color: #999999;
  line-height: 5.3333vw;
}
.container .info .item .item-input::placeholder {
  font-size: 3.7333vw;
  color: #999999;
  line-height: 5.3333vw;
}
.container .info .gap {
  width: 90.4vw;
  border: 0.2667vw solid #f1f1f1;
  margin: 0 auto;
}