@import "./head-common.scss";
@import "./tabbar-common.scss";
.container {
  width: 100vw;
  height: 100vh;
  background-color: #f8f8f8;
  overflow: hidden;
  .cart-list {
    position: fixed;
    top: 11.7333vw;
    bottom: 13.0667vw;
    left: 0;
    right: 0;
    overflow-y: auto;
    padding-top: 4.2667vw;
    .cart-item {
      width: 90.4vw;
      background: #ffffff;
      border-radius: 1.0667vw;
      margin: 0 auto 4.2667vw;
      padding: 4.2667vw;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      .title {
        font-size: 4.2667vw;
        color: #333333;
        font-weight: 600;
      }
      .cart-info {
        margin-bottom: 4.2667vw;
        &:last-child {
          margin-bottom: 0;
        }
        .product-img {
          width: 12.2667vw;
          height: 12.2667vw;
          margin-right: 4.2667vw;
        }
        .product-name {
          width: 22.1333vw;
          height: 5.3333vw;
          margin-right: 42.6667vw;
          margin-bottom: 1.6vw;
          font-size: 3.7333vw;
          color: #333333;
          font-weight: 500;
        }
        .product-data {
          width: calc(100% - 16.5333vw);
          .left {
            font-size: 3.7333vw;
            color: #e93b3b;
            line-height: 5.3333vw;
            margin-right: 36vw;
            .price {
              &::before {
                content: "￥";
                display: inline-block;
                transform: scale(0.8);
                transform-origin: right bottom;
              }
            }
          }
          .right {
            .total {
              font-size: 3.7333vw;
              color: #000000;
              text-align: right;
              line-height: 5.3333vw;
              &::before {
                content: "￥";
                display: inline-block;
                transform: scale(0.8);
                transform-origin: right bottom;
              }
            }
          }
        }
      }
      .more {
        width: 81.8667vw;
        height: 7.4667vw;
        background: #f5f5f5;
        font-size: 3.7333vw;
        color: #999999;
        text-align: center;
        line-height: 7.4667vw;
        .iconfont {
          font-size: 4.8vw;
          margin-left: 2.1333vw;
          display: inline-block;
          transform: translateY(0.5333vw);
        }
      }
    }
  }
}
