.container {
  width: 100vw;
  height: 100vh;
  background-color: #f8f8f8;
  .head {
    width: 100vw;
    height: 42.4vw;
    background-image: linear-gradient(
      0deg,
      rgba(0, 145, 255, 0) 4%,
      #0091ff 50%
    );
    padding-top: 10.6667vw;
    text-align: center;
    .iconfont {
      color: #ffffff;
      font-size: 5.8667vw;
      position: fixed;
      top: 10.6667vw;
      left: 4.9333vw;
    }
    .title {
      font-size: 4.2667vw;
      color: #ffffff;
    }
  }
  .address {
    width: 90.4vw;
    height: 29.6vw;
    background: #ffffff;
    border-radius: 1.0667vw;
    position: absolute;
    top: 22.6667vw;
    left: 50%;
    transform: translate(-50%);
    padding: 4.2667vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left {
      .address-title {
        font-size: 4.2667vw;
        color: #333333;
        margin-bottom: 3.7333vw;
        font-weight: 600;
      }
      .order-address {
        font-size: 3.7333vw;
        color: #333333;
        margin-bottom: 1.6vw;
      }
      .user-info {
        font-size: 3.2vw;
        color: #666666;
        .username {
          margin-right: 1.6vw;
        }
      }
    }
    .right {
      .iconfont {
        font-size: 5.8667vw;
        color: #666666;
      }
    }
  }
  @import "./cart-list-common.scss";
  .cart-list {
    top: 56.5333vw;
    padding-top: 0;
  }
  .foot {
    width: 100vw;
    height: 13.0667vw;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    line-height: 13.0667vw;
    background: #ffffff;
    box-shadow: 0 -0.2667vw 0.2667vw 0 #f1f1f1;
    .left {
      flex-grow: 1;
      background: #ffffff;
      color: #333333;
      .left-title {
        font-size: 3.7333vw;
        text-align: right;
        margin-left: 6.4vw;
        margin-right: 1.4133vw;
      }
      .left-price {
        font-size: 4.2667vw;
        text-align: right;
      }
    }
    .right {
      width: 26.1333vw;
      background: #4fb0f9;
      font-size: 3.7333vw;
      color: #ffffff;
      text-align: center;
    }
  }
}
// 确定提交弹窗
.confirm-mask {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  .modal {
    width: 80.2667vw;
    height: 41.8667vw;
    background: #ffffff;
    border-radius: 1.0667vw;
    position: fixed;
    top: 64.8vw;
    left: 50%;
    transform: translate(-50%);
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6.4vw;
    .modal-title {
      font-size: 4.5333vw;
      font-weight: 600;
      color: #333333;
      margin-bottom: 2.1333vw;
    }
    .modal-content {
      font-size: 3.7333vw;
      color: #666666;
      margin-bottom: 6.4vw;
    }
    .modal-buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .cancel {
        width: 21.3333vw;
        height: 8.5333vw;
        font-size: 3.7333vw;
        color: #0091ff;
        border: 0.2667vw solid #4fb0f9;
        border-radius: 4.2667vw;
        margin-right: 6.4vw;
        padding: 1.6vw;
        text-align: center;
      }
      .confirm {
        width: 21.3333vw;
        height: 8.5333vw;
        font-size: 3.7333vw;
        color: #ffffff;
        background: #4fb0f9;
        border: 0.2667vw solid #4fb0f9;
        border-radius: 4.2667vw;
        padding: 1.6vw;
        text-align: center;
      }
    }
  }
}
// 支付成功弹窗
.remind-mask {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  .modal {
    width: 80.2667vw;
    height: 41.8667vw;
    background: #ffffff;
    border-radius: 1.0667vw;
    position: fixed;
    top: 68.2667vw;
    left: 50%;
    transform: translate(-50%);
    z-index: 10;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // padding: 6.4vw;
    .icon-cuo {
      color: #666666;
      position: absolute;
      top: 3.2vw;
      right: 3.2vw;
      font-size: 6.4vw;
    }
    .icon-duigoux {
      color: #000;
      position: absolute;
      top: 11.2533vw;
      left: 50%;
      transform: translate(-50%);
      font-size: 13.3333vw;
    }
    .content {
      width: 43.2vw;
      height: 6.6667vw;
      font-size: 4.8vw;
      color: #333333;
      position: absolute;
      top: 26.4vw;
      left: 50%;
      transform: translate(-50%);
    }
  }
}
