.container {
  .header {
    text-align: center;
    padding-top: 32vw;
    margin-bottom: 10.6667vw;
    img {
      width: 17.6vw;
      height: 17.6vw;
    }
  }
  .info {
    text-align: center;
    .phone,
    .password {
      width: 79.4667vw;
      height: 12.8vw;
      background: #f9f9f9;
      border: 0.2667vw solid rgba(0, 0, 0, 0.1);
      border-radius: 1.6vw;
      font-size: 4.2667vw;
      color: rgba(0, 0, 0, 0.5);
      letter-spacing: 0;
      line-height: 6.4vw;
      margin: 0 auto;
      padding-left: 4.2667vw;
    }
    .phone {
      margin-bottom: 4.2667vw;
    }
    .password {
      margin-bottom: 8.5333vw;
    }
  }
  .button {
    width: 77.6vw;
    height: 12.8vw;
    background: #0091ff;
    box-shadow: 0 1.0667vw 2.1333vw 0 rgba(0, 145, 255, 0.32);
    border-radius: 1.0667vw;
    font-family: PingFangSC-Regular;
    font-size: 4.2667vw;
    color: #ffffff;
    letter-spacing: 0;
    text-align: center;
    line-height: 12.8vw;
    margin: 0 auto;
    margin-bottom: 4.2667vw;
  }
  .button-group {
    text-align: center;
    .register-now,
    .forget-password {
      width: 14.9333vw;
      height: 5.3333vw;
      font-size: 3.7333vw;
      color: rgba(0, 0, 0, 0.5);
      letter-spacing: 0;
    }
    .gap {
      font-size: 3.2vw;
      color: rgba(0, 0, 0, 0.5);
      letter-spacing: 0;
      margin: 0 3.2vw;
    }
  }
}
