.head {
  height: 11.7333vw;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 2.9333vw 4.8vw 0;
}
.head .iconfont {
  width: 2.48vw;
  height: 4.2667vw;
  color: #b6b6b6;
}
.head .title {
  font-size: 4.2667vw;
  color: #333333;
}
.head .button {
  font-size: 3.7333vw;
  color: #333333;
  text-align: right;
}

.tabbar {
  width: 100vw;
  height: 13.0667vw;
  background: #ffffff;
  box-shadow: 0 -0.2667vw 0.2667vw 0 #f1f1f1;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  padding-top: 1.8933vw;
}
.tabbar .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333333;
}
.tabbar .item.active {
  color: #1fa4fc;
}
.tabbar .item.active .iconfont.one {
  display: none;
}
.tabbar .item.active .iconfont.two {
  display: inline;
}
.tabbar .item .iconfont {
  width: 4.8vw;
  height: 4.5333vw;
}
.tabbar .item .iconfont.one {
  display: inline;
}
.tabbar .item .iconfont.two {
  display: none;
}
.tabbar .item .text {
  font-size: 2.6667vw;
  text-align: center;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #f8f8f8;
  overflow: hidden;
}
.container .order-list {
  position: fixed;
  top: 11.7333vw;
  bottom: 13.0667vw;
  left: 0;
  right: 0;
  overflow-y: auto;
}
.container .order-list .order-item {
  width: 90.4vw;
  height: 29.3333vw;
  background: #ffffff;
  border-radius: 1.0667vw;
  margin: 4.2667vw auto;
  padding: 4.2667vw;
  display: flex;
  flex-direction: column;
}
.container .order-list .order-item .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4.2667vw;
}
.container .order-list .order-item .top .shop-name {
  font-size: 4.2667vw;
  color: #333333;
  font-weight: 600;
}
.container .order-list .order-item .top .order-status {
  font-size: 3.7333vw;
  color: #999999;
  text-align: right;
  font-weight: 500;
}
.container .order-list .order-item .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .order-list .order-item .bottom .products .products-img {
  width: 10.6667vw;
  height: 10.6667vw;
  margin-right: 3.2vw;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translate(0.5333vw);
}
.container .order-list .order-item .bottom .data .price {
  font-size: 3.7333vw;
  color: #e93b3b;
  text-align: right;
  margin-bottom: 1.0667vw;
}
.container .order-list .order-item .bottom .data .count {
  font-size: 3.2vw;
  color: #333333;
  text-align: right;
  line-height: 3.7333vw;
}