.container {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}
.container .head .icon-arrow-left-bold {
  color: #b6b6b6;
}
.container .head .icon-search {
  color: #b7b7b7;
}
.container .head .search-input {
  width: 82.6667vw;
  height: 8.5333vw;
  background: #f5f5f5;
  border-radius: 4.2667vw;
  font-size: 3.7333vw;
  color: #333333;
  line-height: 4.2667vw;
}
.container .foot {
  width: 100vw;
  height: 13.0667vw;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  line-height: 13.0667vw;
  background: #ffffff;
  box-shadow: 0 -0.2667vw 0.2667vw 0 #f1f1f1;
}
.container .foot .left {
  flex-grow: 1;
  background: #ffffff;
  color: #333333;
  padding: 3.2vw 0;
  display: flex;
  align-items: center;
}
.container .foot .left .dot {
  position: absolute;
  left: 12.5333vw;
  top: 1.8667vw;
  min-width: 2.6667vw;
  height: 2.6667vw;
  padding: 0.5333vw;
  background-color: #e93b3b;
  border-radius: 2.6667vw;
  text-align: center;
  line-height: 1.6vw;
  color: #fff;
  font-size: 2.1333vw;
}
.container .foot .left .cart-img {
  width: 7.4667vw;
  height: 6.9333vw;
  margin-top: 2.6667vw;
  margin-left: 6.4vw;
  margin-right: 7.7333vw;
  display: inline-block;
  transform: translateY(-1.4667vw);
}
.container .foot .left .left-title {
  font-size: 3.2vw;
  color: #333333;
}
.container .foot .left .left-price {
  font-size: 4.8vw;
  color: #e93b3b;
  font-weight: 600;
}
.container .foot .right {
  width: 26.1333vw;
  background: #4fb0f9;
  font-size: 3.7333vw;
  color: #ffffff;
  text-align: center;
}