.tabbar {
  width: 100vw;
  height: 13.0667vw;
  background: #ffffff;
  box-shadow: 0 -0.2667vw 0.2667vw 0 #f1f1f1;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  padding-top: 1.8933vw;
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333333;
    &.active {
      color: #1fa4fc;
      .iconfont {
        &.one {
          display: none;
        }
        &.two {
          display: inline;
        }
      }
    }
    .iconfont {
      width: 4.8vw;
      height: 4.5333vw;
      &.one {
        display: inline;
      }
      &.two {
        display: none;
      }
    }
    .text {
      font-size: 2.6667vw;
      text-align: center;
    }
  }
}
