.tabbar {
  width: 100vw;
  height: 13.0667vw;
  background: #ffffff;
  box-shadow: 0 -0.2667vw 0.2667vw 0 #f1f1f1;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  padding-top: 1.8933vw;
}
.tabbar .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333333;
}
.tabbar .item.active {
  color: #1fa4fc;
}
.tabbar .item.active .iconfont.one {
  display: none;
}
.tabbar .item.active .iconfont.two {
  display: inline;
}
.tabbar .item .iconfont {
  width: 4.8vw;
  height: 4.5333vw;
}
.tabbar .item .iconfont.one {
  display: inline;
}
.tabbar .item .iconfont.two {
  display: none;
}
.tabbar .item .text {
  width: 10vw;
  height: 3.7333vw;
  font-size: 2.4vw;
  text-align: center;
}