@font-face {
  font-family: "iconfont"; /* Project id 4275957 */
  src: url("../fonts/iconfont.woff2") format("woff2"),
    url("../fonts/iconfont.woff") format("woff"),
    url("../fonts/iconfont.ttf") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kefu:before {
  content: "\e63c";
}

.icon-xiangzuojiantou:before {
  content: "\e600";
}

.icon-aixin:before {
  content: "\e601";
}

.icon-fenxiang:before {
  content: "\e624";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-wode:before {
  content: "\e8a0";
}

.icon-position:before {
  content: "\e60b";
}

.icon-shouye:before {
  content: "\e618";
}
