/* 设置版心 */
.container {
  width: 1226px;
  margin: 0 auto;
}
/* 顶部导航优化 */
body {
  min-width: 1226px;
}
/* 设置浮动 */
/* 左浮动 */
.fl {
  float: left;
}
/* 右浮动 */
.flr {
  float: right;
}
/* 顶部导航 开始 */
.top-nav {
  width: 100%;
  height: 40px;
  background-color: #333333;
}
/* 顶部导航左侧内容 */
.top-nav .top-nav-left a,
.top-nav .top-nav-left span {
  /* 垂直居中 */
  line-height: 40px;
  /* 设置字体大小 */
  font-size: 12px;
}
.top-nav .top-nav-left a {
  color: #b0b0b0;
}
.top-nav .top-nav-left a:hover {
  color: #ffffff;
}
.top-nav .top-nav-left span {
  color: #424242;
  margin: 0 6px;
}
/* 顶部导航右侧内容 */
.top-nav .top-nav-userinfo a,
.top-nav .top-nav-userinfo span {
  /* 垂直居中 */
  line-height: 40px;
  /* 设置字体大小 */
  font-size: 12px;
}
.top-nav .top-nav-userinfo a {
  color: #b0b0b0;
}
.top-nav .top-nav-userinfo a:hover {
  color: #ffffff;
}
.top-nav .top-nav-userinfo span {
  color: #424242;
  margin: 0 6px;
}
/* 顶部导航右侧内容购物车 */
.top-nav .top-nav-cart {
  width: 120px;
  height: 40px;
  background-color: #424242;
  /* 垂直居中 */
  line-height: 40px;
  /* 水平居中 */
  text-align: center;
  /* 设置字体大小 */
  font-size: 12px;
  margin-left: 23px;
}
.top-nav .top-nav-cart a {
  color: #b0b0b0;
  display: block;
}
.top-nav .top-nav-cart a:hover {
  color: #ff6700;
  background-color: #ffffff;
}
/* 悬停显示小米商城app */
.top-nav .top-nav-left a.download-app {
  position: relative;
}
.top-nav .top-nav-left a.download-app::before {
  /* 设置小三角 */
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-bottom: 8px solid #ffffff;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  /* 设置小三角的位置 */
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -8px;
  /* 默认隐藏 */
  display: none;
}
.top-nav .top-nav-left div.download {
  width: 124px;
  height: 148px;
  position: absolute;
  /* 水平居中 */
  left: 50%;
  margin-left: -62px;
  /* 图片文字居中 */
  text-align: center;
  /* 图片下移 */
  padding-top: 18px;
  /* 文字样式 */
  color: #000;
  font-size: 14px;
  /* 阴影 */
  box-shadow: 0 1px 5px #aaa;
  /* 默认隐藏 */
  display: none;
  /* 背景颜色 */
  background-color: #fff;
  /* 修改二维码被压到下面的bug */
  z-index: 20;
}
.top-nav .top-nav-left a.download-app:hover div.download,
.top-nav .top-nav-left a.download-app:hover::before {
  /* 鼠标移入显示下载图片 */
  display: block;
}
.top-nav .top-nav-left div.download img {
  width: 90px;
  height: 90px;
  margin-bottom: -12px;
  /* 背景颜色 */
  background-color: #fff;
}
/* 购物车移入显示 */
div.top-nav-cart {
  position: relative;
}
div.top-nav-cart div.cart-list {
  /* 清除购物车下面的黑色边框 */
  z-index: -10;
  width: 316px;
  height: 100px;
  background-color: #ffffff;
  /* 设置位置 */
  position: absolute;
  right: 0;
  line-height: 100px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 15%);
  /* 隐藏 */
  display: none;
  /* 字体颜色 */
  color: #424242;
}
/* 鼠标移入购物车显示 */
.top-nav .top-nav-cart a:hover div.cart-list {
  display: block;
  background-color: #fff;
  z-index: 100;
}
/* 顶部导航 结束 */
/* 白色导航 开始  */
/* 左侧logo部分 */
.white-nav {
  width: 100%;
  height: 100px;
  position: relative;
}
.white-nav .logo .logo-img {
  width: 56px;
  height: 56px;
  margin-top: 22px;
  margin-right: 80px;
}
/* 中间内容区域 */
.white-nav .nav-content a {
  margin-left: 10px;
  color: #333;
  font-size: 16px;
  line-height: 100px;
}
/* 右侧搜索框 */
.white-nav .search {
  position: relative;
  width: 296px;
  height: 100px;
}
.white-nav .search form {
  height: 50px;
  position: absolute;
  top: 50%;
  margin-top: -25px;
}
/* 搜索框内容部分 */
.white-nav .search-content {
  width: 245px;
  height: 50px;
  border: 1px solid #e0e0e0;
  padding: 0 10px;
}
/* 搜索框按钮部分 */
.white-nav .search-button {
  width: 52px;
  height: 50px;
  border: 1px solid #e0e0e0;
  margin-left: -1px;
}
/* 搜索框内容和按钮鼠标移入边框变色 */
.white-nav .search form:hover input.search-content,
.white-nav .search form:hover input.search-button {
  border-color: #b0b0b0;
}
/* 搜索框按钮鼠标移入颜色、背景、边框变色 */
.white-nav div.search form .search-button:hover {
  color: #ffffff;
  background-color: #ff6700;
  border: 1px solid #ff6700;
}
/* 点击搜索框展开搜索热词 */
.white-nav .search .keywords-list {
  width: 245px;
  height: 242px;
  position: absolute;
  top: 50px;
  border: 1px solid #ff6700;
  /* 两条线合成一条线 */
  margin-top: -1px;
  /* 默认隐藏 */
  display: none;
  /* 背景颜色 */
  background-color: #fff;
  /* 搜索热词被覆盖 */
  z-index: 20;
}
/* 调整搜索热词的字体、颜色、行高 */
.white-nav .search .keywords-list ul li {
  width: 245px;
  height: 30px;
}
.white-nav .search .keywords-list ul li a {
  display: block;
  width: 243px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  color: #424242;
  padding-left: 15px;
}
.white-nav .search .keywords-list ul li a:hover {
  background-color: #fafafa;
}
/* 搜索框内容被聚焦，搜索热词显示 */
.white-nav .search form:hover input.search-content:focus + .keywords-list {
  display: block;
}
/* 搜索框内容被聚焦，搜索框内容和搜索按钮边框变色 */
.white-nav .search form:hover input.search-content:focus,
.white-nav .search form:hover input.search-content:focus ~ .search-button {
  border: 1px solid #ff6700;
}
/* 白色导航的导航目录 */
div.nav-menu {
  width: 100%;
  height: 230px;
  position: absolute;
  left: 0;
  box-shadow: 0 3px 4px rgb(0 0 0 / 18%);
  border-top: 1px solid #e0e0e0;
  /* 默认隐藏 */
  display: none;
  /* 白色导航的下拉商品区, 被盖住了 */
  z-index: 20;
  /* 背景颜色 */
  background-color: #fff;
}
/* 设置版心 */
div.nav-menu div.nav-container {
  width: 1226px;
  height: 230px;
  margin: 0 auto;
}
div.nav-menu div.nav-container ul li {
  width: 204px;
  height: 230px;
  text-align: center;
}
div.nav-menu div.nav-container ul li img {
  width: 160px;
  height: 110px;
}
div.nav-menu div.nav-container ul li a {
  display: block;
  width: 204px;
  height: 230px;
  padding-top: 35px;
}
/* 设置商品介绍右侧竖线 */
div.nav-menu div.nav-container ul li a div:nth-child(1) {
  height: 110px;
  margin-bottom: 15px;
  border-right: 1px solid #e0e0e0;
}
/* 去除最后一个商品介绍的右侧竖线 */
div.nav-menu div.nav-container ul li:last-child a div:nth-child(1) {
  border-right: none;
}
/* 设置商品名称字体颜色、字体大小、行高 */
div.nav-menu div.nav-container ul li a div:nth-child(2) {
  line-height: 20px;
  font-size: 12px;
  color: #333;
}
/* 设置商品价格字体颜色、字体大小、行高 */
div.nav-menu div.nav-container ul li a p {
  line-height: 20px;
  font-size: 12px;
  color: #ff6700;
}
/* 鼠标移入白色导航栏隐藏的导航目录显示 */
div.nav-content div.nav-menu:hover,
div.nav-content a:hover + div.nav-menu {
  display: block;
}
/* 鼠标移入白色导航栏字体变色 */
div.nav-content a:hover {
  color: #ff6700;
}
/* 隐藏全部商品分类 */
div.nav-content > a:first-child {
  visibility: hidden;
}
/* 白色导航 结束  */
