@font-face {
  font-family: "iconfont"; /* Project id 4202329 */
  src: url("../font/iconfont.woff2") format("woff2"),
    url("../font/iconfont.woff") format("woff"),
    url("../font/iconfont.ttf") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-faxiaoxi:before {
  content: "\e69a";
}

.icon-gouwuchekong:before {
  content: "\e600";
}

.icon-15tianwuliyoutuihuo:before {
  content: "\e606";
}

.icon-chongzhi:before {
  content: "\e65c";
}

.icon-liwuhuodong:before {
  content: "\e601";
}

.icon-31dingwei:before {
  content: "\e602";
}

.icon-upay:before {
  content: "\e648";
}

.icon-xiangyoujiantou:before {
  content: "\e662";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-xiangyoujiantou1:before {
  content: "\e65f";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

.icon-icon03:before {
  content: "\e603";
}

.icon-7tianwuliyoutuihuo:before {
  content: "\e60e";
}

.icon-shizhongclock77:before {
  content: "\e60d";
}

.icon-editor2:before {
  content: "\e62e";
}

.icon-huidingbu:before {
  content: "\e691";
}

.icon-shiwu-gouwuche:before {
  content: "\e752";
}

.icon-youjiantou:before {
  content: "\e604";
}

.icon-SIMka:before {
  content: "\e637";
}

.icon-kefu-ermai:before {
  content: "\e634";
}

.icon-qiye:before {
  content: "\e646";
}

.icon-shouji:before {
  content: "\e8c6";
}

.icon-f_cursive_circle:before {
  content: "\e824";
}

.icon-zitidaima:before {
  content: "\e60c";
}

.icon-youjiantou1:before {
  content: "\e625";
}
