/* 主页的CSS */
/* 轮播图 开始 */
div.carousel {
  width: 100%;
  height: 460px;
}
div.carousel img {
  width: 100%;
}
/* 左右箭头 */
div.carousel div.container {
  position: relative;
}
div.carousel div.arrow-left,
div.carousel div.arrow-right {
  width: 42px;
  height: 70px;
  /* 文字水平居中 */
  text-align: center;
  /* 文字垂直居中 */
  line-height: 70px;
  position: absolute;
  /* 颜色 */
  color: #808080;
}
/* 左箭头定位 */
div.carousel div.arrow-left {
  left: 234px;
  top: 50%;
  margin-top: -35px;
}
/* 右箭头定位 */
div.carousel div.arrow-right {
  right: 0;
  top: 50%;
  margin-top: -35px;
}
div.carousel div.arrow-left:hover,
div.carousel div.arrow-right:hover {
  /* 鼠标移入，变成小手 */
  cursor: pointer;
  /* 背景颜色 */
  background-color: rgba(0, 0, 0, 0.3);
  /* 移入变白 */
  color: #fff;
}
/* 导航圆点 */
div.carousel div.dots {
  position: absolute;
  right: 30px;
  bottom: 20px;
}
div.carousel div.dots a {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  /* 边框 */
  border: 2px solid hsla(0, 0%, 100%, 0.3);
  background-color: rgba(0, 0, 0, 0.4);
  /* 变成圆 */
  border-radius: 10px;
}
/* 被激活，鼠标移入的边框和背景状态 */
div.carousel div.dots a.active,
div.carousel div.dots a:hover {
  border-color: rgba(0, 0, 0, 0.4);
  background-color: hsla(0, 0%, 100%, 0.3);
}
/* 轮播图 结束 */
/* 滑动门，网站简介 开始 */
/* 网站简介 */
div.site-category {
  z-index: 10;
  width: 234px;
  height: 460px;
  background-color: rgba(105, 101, 101, 0.6);
  position: absolute;
  left: 50%;
  margin-left: -613px;
}
div.site-category ul {
  padding: 20px 0;
}
div.site-category ul li {
  width: 234px;
  height: 42px;
  line-height: 42px;
}
div.white-nav div.nav-content div.site-category ul li a {
  display: block;
  width: 234px;
  height: 42px;
  color: #fff;
  font-size: 14px;
  padding-left: 23px;
  line-height: 42px;
  margin-left: 0;
}
div.nav-content div.site-category ul li a:hover {
  background-color: #ff6700;
}
div.nav-content div.site-category ul li a span.iconfont {
  position: absolute;
  right: 20px;
}
/* 滑动门 */
div.nav-content div.site-category div.slider-container {
  width: 994px;
  height: 460px;
  /* 边框 */
  border: 1px solid #e0e0e0;
  /* 阴影 */
  box-shadow: 0 8px 16px rgb(0 0 0 / 18%);
  /* 定位 */
  position: absolute;
  left: 234px;
  top: 0;
  /* 背景颜色 */
  background-color: #fff;
  /* 默认隐藏 */
  display: none;
}
/* 鼠标移入li标签显示滑动门 */
div.white-nav
  div.nav-content
  div.site-category
  ul
  li:hover
  div.slider-container {
  display: block;
}
div.nav-content div.site-category div.slider-container ul {
  width: 248px;
  height: 460px;
  padding: 0;
  float: left;
}
div.nav-content div.site-category div.slider-container ul li {
  width: 248px;
  height: 76px;
}
div.nav-content div.site-category div.slider-container ul li a {
  width: 248px;
  height: 76px;
  padding: 0 20px;
  line-height: 76px;
  color: #000;
}
div.nav-content div.site-category div.slider-container ul li a:hover {
  color: #ff6700;
  background-color: #fff;
}
div.nav-content div.site-category div.slider-container ul li a img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  margin-right: 12px;
}
/* 滑动门，网站简介 结束 */
/* 新品频道 开始 */
div.new-channel {
  width: 100%;
  height: 170px;
  margin-top: 14px;
}
div.new-channel div.channel-list {
  width: 234px;
  height: 170px;
  background-color: #5f5750;
}
div.new-channel div.channel-list ul li {
  width: 76px;
  height: 82px;
  text-align: center;
  position: relative;
}
div.new-channel div.channel-list ul li a {
  display: block;
  padding-top: 18px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
}
div.new-channel div.channel-list ul li a:hover {
  color: #fff;
}
div.new-channel div.channel-list ul li span.iconfont {
  display: inline-block;
  width: 24px;
  height: 24px;
}
div.new-channel div.channel-list ul li span.desc {
  display: block;
}
div.new-channel div.channel-list ul li.right::before {
  content: "";
  display: block;
  width: 1px;
  height: 70px;
  background-color: #665e57;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -35px;
}
div.new-channel div.channel-list ul li.bottom::after {
  content: "";
  display: block;
  width: 70px;
  height: 1px;
  background-color: #665e57;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -35px;
}
div.new-channel div.new-product {
  width: 316px;
  height: 170px;
  margin-left: 14px;
}
div.new-channel div.new-product img {
  width: 316px;
  height: 170px;
}
/* 新品频道 结束 */

/* 主页主体内容区 开始 */
div.page-body {
  width: 100%;
  background-color: #f5f5f5;
  margin-top: 28px;
  padding-top: 28px;
}
div.page-body div.img-news{
  margin-bottom: 16px;
}
div.page-body div.img-news a{
    display: block;
}
div.page-body div.img-news a img {
  width: 1226px;
  height: 120px;
}
/* 主页主体内容区 结束 */
