.banner .circles {
  width: 160px;
  height: 20px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -75px;
  z-index: 9999;
}
.banner .circles li {
  float: left;
  width: 20px;
  height: 20px;
  background-color: #f9b84f;
  margin-right: 10px;
  border-radius: 10px;
  transition: all 0.5s ease 0s;
  /* 鼠标指针变为小手 */
  cursor: pointer;
}
.banner .circles li:last-child {
  margin-right: 0;
}
.banner .circles li.current {
  width: 40px;
  background-color: #ff9d00;
}
