/* 原子类 */
.fl {
  float: left;
}
.flr {
  float: right;
}
/* 头部 */
.container {
  width: 1082px;
  margin: 0 auto;
}
.header {
  width: 100%;
  height: 81px;
  background-color: #ffffff;
}
.header a {
  display: inline-block;
}
/* 头部logo */
.logo {
  width: 162px;
  height: 44px;
  margin-top: 8px;
  margin-right: 330px;
}
/* 头部目录 */
ul.header-menu li {
  margin-right: 50px;
}
ul.header-menu li:last-child {
  margin-right: 0;
}
ul.header-menu li a {
  font-size: 14px;
  color: #646464;
  margin-top: 30px;
}
/* banner区域 */
/* 版心图片 */
.banner {
  background-image: url(../img/banner.png);
  width: 100%;
  height: 469px;
  background-size: cover;
  position: relative;
}
/* 小圆点 */
.banner ul.dots {
  width: 81px;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  bottom: 19px;
}
.banner ul.dots li {
  border: 1px solid #ffffff;
  border-radius: 50%;
  margin-right: 11px;
}
.banner ul.dots li:last-child {
  margin-right: 0;
}
.banner ul.dots li a {
  width: 10px;
  height: 10px;
  display: block;
}
.banner ul.dots li:hover {
  background-color: #fff;
}
.banner ul.dots li.active {
  background-color: #fff;
}
/* 导航区域 */
.nav {
  width: 100%;
  height: 408px;
  overflow: hidden;
}
.nav .title {
  margin-top: 63px;
}
/* 导航区域标题 */
.nav .title .Chinese {
  width: 344px;
  margin: 0 auto;
  font-size: 20px;
  color: #363636;
  text-align: center;
  background-image: url(../img/bg1.png);
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 11px;
}
.nav .title .Engish {
  font-size: 14px;
  color: #9f9f9f;
  text-align: center;
  margin-bottom: 25px;
}
/* 导航区域内容 */
.nav .content {
  width: 981px;
  height: 207px;
  margin: 0 auto;
  text-align: center;
}
.nav .content .item {
  width: 197px;
  height: 207px;
  background-color: #fff;
  margin-right: 64px;
}
.nav .content .item:last-child {
  margin-right: 0;
}
/* 精灵图 */
.nav .content .item .img {
  width: 102px;
  height: 102px;
  margin: 0 auto;
  margin-bottom: 33px;
}
.nav .content .item:nth-child(1) .img {
  background: url(../img/css_sprites.png) -313px -1px;
}
.nav .content .item:nth-child(2) .img {
  background: url(../img/css_sprites.png) -209px -1px;
}
.nav .content .item:nth-child(3) .img {
  background: url(../img/css_sprites.png) -105px -1px;
}
.nav .content .item:nth-child(4) .img {
  background: url(../img/css_sprites.png) -1px -1px;
}
/* 标题 */
.nav .content .item h3 {
  font-size: 18px;
  color: #434343;
  margin-bottom: 23px;
}
/* 内容 */
.nav .content .item p {
  font-family: MicrosoftYaHei;
  font-size: 13px;
  color: #6d6d6d;
}
/* 案例区域 */
.example {
  width: 100%;
  height: 460px;
  overflow: hidden;
  background-color: #f8f8f8;
}
/* 案例区域标题 */
.example .title .Chinese {
  width: 344px;
  margin: 0 auto;
  font-size: 20px;
  color: #66c5b4;
  text-align: center;
  background-image: url(../img/bg1.png);
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 55px;
  margin-bottom: 14px;
}
.example .title .Engish {
  font-size: 14px;
  color: #9f9f9f;
  text-align: center;
  margin-bottom: 38px;
}
/* 案例区域内容图片 */
.example .content {
  width: 1055px;
  height: 181px;
  margin: 0 auto;
}
.example .content .item {
  width: 339px;
  height: 181px;
  margin-right: 19px;
}
.example .content .item:last-child {
  margin-right: 0;
}
/* 案例区域按钮 */
.example .button {
  margin: 0 auto;
  width: 176px;
  height: 37px;
  border-radius: 37px;
  background-color: #66c5b4;
  text-align: center;
  line-height: 37px;
  font-size: 14px;
  color: #ffffff;
  margin-top: 36px;
  margin-bottom: 66px;
}
/* 咨询区域 */
.info {
  width: 100%;
  height: 451px;
  background-color: #ffffff;
  overflow: hidden;
}
/* 咨询区域标题 */
.info .title .Chinese {
  width: 344px;
  margin: 0 auto;
  font-size: 20px;
  color: #363636;
  text-align: center;
  background-image: url(../img/bg1.png);
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 68px;
  margin-bottom: 10px;
}
.info .title .Engish {
  font-size: 14px;
  color: #9f9f9f;
  text-align: center;
  margin-bottom: 58px;
}
/* 咨询区域内容 */
.info .content {
  width: 1074px;
  height: 196px;
  margin: 0 auto;
  margin-bottom: 89px;
}
.info .content .item {
  width: 394px;
  height: 80px;
  margin-bottom: 37px;
  margin-right: 38px;
}
.info .content .item:first-child {
  width: 234px;
  height: 196px;
  margin-right: 13px;
}
.info .content .item:nth-child(3),
.info .content .item:nth-child(5) {
  margin-right: 0;
}
.info .content .item .item-date {
  width: 59px;
  height: 71px;
  border-right: 1px solid #dcdcdc;
  text-align: center;
  margin-right: 17px;
}
.info .content .item .item-date .item-date-day {
  width: 41px;
  height: 28px;
  font-size: 39px;
  font-weight: bold;
  color: #66c5b4;
  margin-bottom: 17px;
}
.info .content .item .item-date .item-date-month {
  width: 31px;
  height: 15px;
  font-size: 20px;
  color: #999999;
  margin-top: 5px;
}
.info .content .item .item-title {
  width: 235px;
  height: 12px;
  font-size: 14px;
  color: #3f3f3f;
  margin-top: 6px;
  margin-bottom: 20px;
}
.info .content .item .item-information {
  width: 311px;
  height: 33px;
  font-family: NSimSun;
  font-size: 12px;
  color: #a4a4a4;
}
/* 底部区域 */
.footer {
  width: 100%;
  height: 54px;
  background-color: #66c5b4;
}
.footer .left {
  font-size: 12px;
  color: #ffffff;
  margin-top: 20px;
}
.footer .right a {
  font-size: 12px;
  color: #ffffff;
}
.footer .right li {
  margin-right: 17px;
  margin-top: 17px;
}
.footer .right li:last-child {
  margin-right: 0;
}
