/* 原子类 */
.fl {
  float: left;
}
.flr {
  float: right;
}
/* 头部 */
.container {
  width: 1082px;
  margin: 0 auto;
}
.header {
  width: 100%;
  height: 81px;
  background-color: #ffffff;
}
.header a {
  display: inline-block;
}
/* 头部logo */
.logo {
  width: 162px;
  height: 44px;
  margin-top: 8px;
  margin-right: 330px;
}
/* 头部目录 */
ul.header-menu li {
  margin-right: 50px;
}
ul.header-menu li:last-child {
  margin-right: 0;
}
ul.header-menu li a {
  font-size: 14px;
  color: #646464;
  margin-top: 30px;
}

/* banner区域 */
/* 版心图片 */
.banner {
  background-image: url(../img/banner.png);
  width: 100%;
  height: 469px;
  background-size: cover;
  position: relative;
}
/* 小圆点 */
.banner ul.dots {
  width: 81px;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  bottom: 19px;
}
.banner ul.dots li {
  border: 1px solid #ffffff;
  border-radius: 50%;
  margin-right: 11px;
}
.banner ul.dots li:last-child {
  margin-right: 0;
}
.banner ul.dots li a {
  width: 10px;
  height: 10px;
  display: block;
}
.banner ul.dots li:hover {
  background-color: #fff;
}
.banner ul.dots li.active {
  background-color: #fff;
}

/* 导航区域 */
.nav {
  width: 100%;
  height: 408px;
  overflow: hidden;
}
.nav .title {
  margin-top: 63px;
}
/* 导航区域标题 */
.nav .title .Chinese {
  width: 344px;
  margin: 0 auto;
  font-size: 20px;
  color: #363636;
  text-align: center;
  background-image: url(../img/bg1.png);
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 11px;
}
.nav .title .Engish {
  font-size: 14px;
  color: #9f9f9f;
  text-align: center;
  margin-bottom: 25px;
}
/* 导航区域内容 */
.nav .content {
  width: 981px;
  height: 207px;
  margin: 0 auto;
  text-align: center;
}
.nav .content .item {
  width: 197px;
  height: 207px;
  background-color: #fff;
  margin-right: 64px;
}
.nav .content .item:last-child {
  margin-right: 0;
}
/* 精灵图 */
.nav .content .item .img {
  width: 102px;
  height: 102px;
  margin: 0 auto;
  margin-bottom: 33px;
}
.nav .content .item:nth-child(1) .img {
  background: url(../img/css_sprites.png) -313px -1px;
}
.nav .content .item:nth-child(2) .img {
  background: url(../img/css_sprites.png) -209px -1px;
}
.nav .content .item:nth-child(3) .img {
  background: url(../img/css_sprites.png) -105px -1px;
}
.nav .content .item:nth-child(4) .img {
  background: url(../img/css_sprites.png) -1px -1px;
}
/* 标题 */
.nav .content .item h3 {
  font-size: 18px;
  color: #434343;
  margin-bottom: 23px;
}
/* 内容 */
.nav .content .item p {
  font-family: MicrosoftYaHei;
  font-size: 14px;
  color: #6d6d6d;
}
