/* 清除内外边距 */
* {
  margin: 0;
  padding: 0;
}
/* 去除超链接下划线 */
a {
  text-decoration: none;
}
/* 移除无序列表的默认样式, 使列表项没有任何标志 */
ul {
  list-style: none;
}
/* 去掉输入框的边框和轮廓 */
input {
  border: none;
  outline: none;
}
