/* 设置版心 */
.container {
    width: 1247px;
    margin: 0 auto;
  }
  /* 设置浮动 */
  /* 左浮动 */
  .fl {
    float: left;
  }
  /* 右浮动 */
  .flr {
    float: right;
  }
  /* header区域 开始 */
  .header {
    width: 100%;
    height: 108px;
    background-color: #ffffff;
  }
  /* logo区域 */
  .header .logo {
    width: 188px;
    height: 53px;
    margin-top: 33px;
    margin-right: 89px;
  }
  /* header区域中间区域 */
  .header .header-center {
    margin-top: 46px;
    font-family: MicrosoftYaHei;
    font-size: 14px;
    color: #7d7d7d;
  }
  .header .header-center .item {
    margin-right: 30px;
  }
  .header .header-center .item:last-child {
    margin-right: 0;
  }
  .header .header-center .item a {
    padding: 11px;
    color: #404040;
  }
  /* 当前激活页面的标记效果 */
  .header .header-center .item.active > a {
    color: #1fbca9;
    border-bottom: 2px solid #1fbca9;
  }
  /* header区域右边区域 */
  .header .header-right {
    margin-top: 46px;
  }
  .header .header-right .header-right-register a {
    margin-right: 13px;
    font-family: MicrosoftYaHei;
    font-size: 16px;
    color: #1fbca9;
  }
  .header .header-right .header-right-login a,
  .header .header-right .header-right-or {
    font-family: MicrosoftYaHei;
    font-size: 16px;
    color: #7d7d7d;
  }
  .header .header-right .header-right-or {
    margin-right: 10px;
  }
  /* header区域 结束 */
  /* banner区域开始 */
.banner{
    background-image: url(../img/banner.png);
    width: 100%;
	height: 601px;
    background-position: center;
    background-size: cover;
}
  /* banner区域结束 */

  /* service区域 开始 */
.service{
    width: 100%;
    height: 660px;
}
.service .service-item{
    width: 599px;
    height: 329px;
}
.service .service-item:nth-child(1){
border-bottom: 1px solid #e3e3e3;
border-right: 1px solid #e3e3e3;
}
.service .service-item:nth-child(2){
    border-bottom: 1px solid #e3e3e3;
}
.service .service-item:nth-child(3){
    border-right: 1px solid #e3e3e3;
}
.service .service-item .service-item-img{
    margin-top: 90px;
    margin-left: 70px;
    margin-right: 44px;
}
.service .service-item .service-item-img.phone{
    width: 97px; height: 114px;
    background: url(../img/css_sprites.png) -434px -1px;
}
.service .service-item .service-item-img.person{
    width: 88px;
	height: 115px;

    background: url(../img/css_sprites.png) -254px -1px;
}
.service .service-item .service-item-img.paper{
    width: 79px;
	height: 96px;

    background: url(../img/css_sprites.png) -1px -1px;
}
.service .service-item .service-item-img.money{
    width: 104px;
	height: 113px;

    background: url(../img/css_sprites.png) -533px -1px;
}

.service .service-item .service-item-title{
    width: 170px;
	height: 28px;
	font-size: 28px;
	color: #494949;
    margin-top: 90px;
    margin-bottom: 22px;
}
.service .service-item .service-item-content{
	width: 366px;
	height: 130px;
	font-size: 18px;
	color: #818181;
}
  /* service区域 结束 */