/* 设置版心 */
.container {
  width: 1247px;
  margin: 0 auto;
}
/* 设置浮动 */
/* 左浮动 */
.fl {
  float: left;
}
/* 右浮动 */
.flr {
  float: right;
}
/* header区域 开始 */
.header {
  width: 100%;
  height: 108px;
  background-color: #ffffff;
}
/* logo区域 */
.header .logo {
  width: 188px;
  height: 53px;
  margin-top: 33px;
  margin-right: 89px;
}
/* header区域中间区域 */
.header .header-center {
  margin-top: 46px;
  font-family: MicrosoftYaHei;
  font-size: 14px;
  color: #7d7d7d;
}
.header .header-center .item {
  margin-right: 30px;
}
.header .header-center .item:last-child {
  margin-right: 0;
}
.header .header-center .item a {
  padding: 11px;
  color: #404040;
}
/* 当前激活页面的标记效果 */
.header .header-center .item.active > a {
  color: #1fbca9;
  border-bottom: 2px solid #1fbca9;
}
/* header区域右边区域 */
.header .header-right {
  margin-top: 46px;
}
.header .header-right .header-right-register a {
  margin-right: 13px;
  font-family: MicrosoftYaHei;
  font-size: 16px;
  color: #1fbca9;
}
.header .header-right .header-right-login a,
.header .header-right .header-right-or {
  font-family: MicrosoftYaHei;
  font-size: 16px;
  color: #7d7d7d;
}
.header .header-right .header-right-or {
  margin-right: 10px;
}
/* header区域 结束 */
/* banner区域 开始 */
.banner {
  width: 100%;
  height: 600px;
  background-image: url(../img/banner.png);
  background-size: cover;
  background-position: center;
}
/* banner区域 结束 */
/* intro区域 开始 */
.intro {
  width: 100%;
  height: 445px;
  background-color: #ffffff;
  overflow: hidden;
}
.intro .intro-title {
  font-family: MicrosoftYaHei;
  font-size: 50px;
  color: #222222;
  text-align: center;
  margin-top: 125px;
  margin-bottom: 42px;
}
.intro .intro-content {
  width: 1103px;
  height: 94px;
  font-family: MicrosoftYaHei;
  font-size: 22px;
  color: #818181;
  margin: 0 auto;
}
/* intro区域 结束 */
/* service区域 开始 */
.service {
  width: 100%;
  height: 942px;
  background-color: #f8f8f8;
  overflow: hidden;
}
/* service区域标题 */
.service .service-title {
  font-family: MicrosoftYaHei;
  font-size: 50px;
  color: #222222;
  margin-top: 101px;
  margin-bottom: 33px;
  text-align: center;
}
/* service区域中间内容 */
.service .service-center {
  width: 616px;
  height: 59px;
  font-family: MicrosoftYaHei;
  font-size: 22px;
  color: #818181;
  margin: 0 auto;
  text-align: center;
}
/* service区域底部图片内容 */
.service .service-content {
  width: 1199px;
  height: 520px;
  margin-top: 44px;
}
.service .service-content .service-content-item {
  width: 378px;
  height: 542px;
  background-image: url(../img/bottom.png);
  margin-right: 32px;
}
.service .service-content .service-content-item:last-child {
  margin-right: 0;
}
.service .service-content .service-content-item .service-content-item-img {
  width: 378px;
  height: 224px;
}
.service .service-content .service-content-item .service-content-item-title {
  width: 129px;
  height: 32px;
  font-family: MicrosoftYaHei;
  font-size: 32px;
  color: #2e2e2e;
  margin: 0 auto;
  margin-top: 42px;
  margin-bottom: 17px;
}
.service .service-content .service-content-item .service-content-item-content {
  width: 208px;
  height: 17px;
  font-family: MicrosoftYaHei;
  font-size: 16px;
  color: #818181;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 77px;
}
.service .service-content .service-content-item .service-content-item-button {
  text-align: center;
  margin: 0 auto;
  width: 180px;
  height: 50px;
  border-radius: 23px;
  background-color: #1fbca9;
  position: relative;
}
.service
  .service-content
  .service-content-item
  .service-content-item-button
  .service-content-item-button-order {
  font-family: MicrosoftYaHei;
  font-size: 22px;
  color: #ffffff;
  position: absolute;
  top: 7px;
  right: 27px;
}
/* service区域 结束 */
/* promise区域 开始 */
.promise {
  width: 100%;
  height: 480px;
  position: relative;
}
/* 头像 */
.promise .promise-img {
  width: 134px;
  height: 134px;
  margin-top: 98px;
  margin-right: 39px;
}
/* 名人名言 */
.promise .promise-top {
  width: 388px;
  height: 28px;
  margin-top: 104px;
  margin-bottom: 27px;
}
.promise .promise-top .promise-top-chinese {
  font-size: 27px;
  font-weight: bold;
  color: #818181;
  margin-right: 9px;
}
.promise .promise-top .promise-top-english {
  font-style: italic;
  font-size: 27px;
  letter-spacing: -1px;
  color: #818181;
}
.promise .promise-center {
  width: 1051px;
  height: 93px;
  font-size: 27px;
  color: #818181;
  margin-bottom: 99px;
}
/* 底部轮盘小圆点 */
.promise ul.promise-bottom {
  width: 122px;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  top: 353px;
}
.promise ul.promise-bottom li.promise-bottom-item {
  border: 1px solid #ffffff;
  background-color: #a0a0a0;
  border-radius: 50%;
  margin-right: 14px;
}
.promise ul.promise-bottom li.promise-bottom-item:last-child {
  margin-right: 0;
}
.promise ul.promise-bottom li.promise-bottom-item a {
  width: 18px;
  height: 18px;
  display: block;
}
.promise ul.promise-bottom li.promise-bottom-item:hover {
  background-color: #1fbca9;
}
.promise ul.promise-bottom li.promise-bottom-item.active {
  background-color: #1fbca9;
}
/* promise区域 结束 */
/* commitment服务承诺区域 开始 */
.commitment {
  width: 100%;
  height: 910px;
  overflow: hidden;
}
/* 服务承诺区域标题 */
.commitment .commitment-title {
  text-align: center;
  font-size: 50px;
  font-weight: normal;
  color: #222222;
  margin-top: 82px;
  padding-bottom: 69px;
}
/* 服务承诺区域内容 */
.commitment .commitment-content {
  width: 1210px;
  height: 690px;
}
.commitment .commitment-content .commitment-content-item {
  width: 600px;
  height: 345px;
}
.commitment .commitment-content .commitment-content-item.phone1 {
  border-bottom: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
}
.commitment .commitment-content .commitment-content-item.person1 {
  border-bottom: 1px solid #e3e3e3;
}
.commitment .commitment-content .commitment-content-item.money1 {
  border-bottom: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
}
.commitment .commitment-content .commitment-content-item.protect1 {
  border-bottom: 1px solid #e3e3e3;
}
/* 服务承诺区域内容图片 */
.commitment
  .commitment-content
  .commitment-content-item
  .commitment-content-item-img {
  margin-right: 42px;
}
.commitment
  .commitment-content
  .commitment-content-item
  .commitment-content-item-img.phone {
  width: 97px;
  height: 114px;
  background: url(../img/css_sprites.png) -222px -10px;
  margin-top: 42px;
  margin-left: 18px;
}
.commitment
  .commitment-content
  .commitment-content-item
  .commitment-content-item-img.person {
  width: 88px;
  height: 115px;
  background: url(../img/css_sprites.png) -114px -10px;
  margin-top: 42px;
  margin-left: 45px;
}
.commitment
  .commitment-content
  .commitment-content-item
  .commitment-content-item-img.money {
  width: 104px;
  height: 113px;
  background: url(../img/css_sprites.png) -339px -10px;
  margin-top: 98px;
  margin-left: 17px;
}
.commitment
  .commitment-content
  .commitment-content-item
  .commitment-content-item-img.protect {
  width: 84px;
  height: 98px;
  background: url(../img/css_sprites.png) -10px -10px;
  margin-top: 98px;
  margin-left: 45px;
}
.commitment
  .commitment-content
  .commitment-content-item.phone1
  .commitment-content-item-title,
.commitment
  .commitment-content
  .commitment-content-item.person1
  .commitment-content-item-title {
  margin-top: 30px;
  margin-bottom: 26px;
}
.commitment
  .commitment-content
  .commitment-content-item.money1
  .commitment-content-item-title,
.commitment
  .commitment-content
  .commitment-content-item.protect1
  .commitment-content-item-title {
  margin-top: 81px;
  margin-bottom: 26px;
}
.commitment
  .commitment-content
  .commitment-content-item
  .commitment-content-item-title {
  width: 180px;
  height: 29px;
  font-size: 28px;
  font-weight: bold;
  color: #494949;
}
.commitment
  .commitment-content
  .commitment-content-item
  .commitment-content-item-content {
  width: 370px;
  height: 75px;
  font-size: 18px;
  color: #818181;
}
/* commitment服务承诺区域 结束 */
/* contact联系区域 开始 */
.contact {
  width: 100%;
  height: 655px;
  border: 1px solid transparent;
}
.contact .contact-title {
  font-size: 60px;
  color: #222222;
  line-height: 94px;
  text-align: center;
  margin-top: 79px;
  margin-bottom: 22px;
}
.contact .contact-contect {
  font-size: 28px;
  line-height: 44px;
  color: #818181;
  text-align: center;
  margin-bottom: 23px;
}
.contact .contact-weixin {
  width: 304px;
  height: 24px;
  margin: 0 auto;
  margin-bottom: 49px;
}
.contact .contact-weixin .contact-weixin-content {
  font-size: 22px;
  line-height: 30px;
  color: #818181;
}
.contact .contact-weixin .contact-weixin-number {
  font-family: ArialMT;
  font-size: 22px;
  color: #1fbca9;
}
.contact .contact-img {
  width: 230px;
  height: 226px;
  background-image: url(../img/pic5.png);
  margin: 0 auto;
}
/* contact联系区域 结束 */
/* customer service在线客服区域 开始 */
.customer-service {
  width: 100%;
  height: 397px;
  background-color: #1fbca9;
  border: 1px solid transparent;
  position: relative;
}
.customer-service .customer-service-title {
  font-size: 24px;
  color: #ffffff;
  position: absolute;
  top: 56px;
  left: 250px;
}
.customer-service .customer-service-number {
  font-size: 52px;
  font-weight: bold;
  letter-spacing: -2px;
  color: #ffffff;
  position: absolute;
  top: 115px;
  left: 290px;
}
.customer-service .customer-service-content {
  font-size: 24px;
  color: #ffffff;
  position: absolute;
  top: 193px;
  left: 374px;
}
.customer-service .customer-service-button a {
  width: 180px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 50px;
  position: absolute;
  top: 261px;
  left: 360px;
  font-size: 22px;
  color: #1fbca9;
  line-height: 50px;
  text-align: center;
}

.customer-service .customer-service-img img {
  width: 314px;
  height: 579px;
  position: absolute;
  right: 280px;
  bottom: 0;
}
/* customer service在线客服区域 结束 */
/* 底部区域 开始 */
.footer {
  width: 100%;
  height: 439px;
  background-color: #f6f6f6;
}
/* 底部区域的头部 */
.footer .footer-top {
  width: 100%;
  height: 202px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/* 底部区域的头部的左边部分 */
.footer .footer-top .footer-top-item {
  width: 68px;
  height: 121px;
  margin-top: 38px;
  margin-right: 163px;
}
.footer .footer-top .footer-top-item:first-child {
  margin-left: 229px;
}
.footer .footer-top .footer-top-item:nth-child(4) {
  margin-right: 0;
}
.footer .footer-top .footer-top-item .footer-top-item-title a {
  width: 67px;
  height: 15px;
  font-size: 16px;
  font-weight: bold;
  color: #949494;
}
.footer .footer-top .footer-top-item .footer-top-item-content a {
  width: 56px;
  height: 84px;
  font-size: 14px;
  color: #949494;
  margin-top: 14px;
  margin-left: 5.5px;
}
/* 底部区域的头部的右边部分 */
.footer .footer-top .footer-top-contact {
  width: 161px;
  height: 125px;
  margin-top: 37px;
  margin-right: 227px;
  position: relative;
}
.footer .footer-top .footer-top-contact .footer-top-contact-top {
  width: 161px;
  height: 18px;
  font-size: 23px;
  color: #1fbca9;
}
.footer .footer-top .footer-top-contact .footer-top-contact-center {
  width: 141px;
  height: 35px;
  font-size: 13px;
  color: #949494;
  position: absolute;
  top: 39px;
  left: 10px;
  text-align: center;
}
.footer .footer-top .footer-top-contact .footer-top-contact-bottom a {
  width: 114px;
  height: 33px;
  background-color: #1fbca9;
  position: absolute;
  top: 92px;
  left: 24px;
  font-size: 12px;
  line-height: 33px;
  text-align: center;
  color: #ffffff;
}
/* 底部区域的底部 */
.footer .footer-bottom {
  width: 100%;
  height: 235px;
}
.footer .footer-bottom .footer-bottom-top {
  font-family: NSimSun;
  font-size: 12px;
  color: #949494;
  margin-top: 42px;
  margin-bottom: 16px;
  text-align: center;
}
.footer .footer-bottom .footer-bottom-bottom {
  font-size: 14px;
  color: #949494;
  text-align: center;
}
/* 底部区域 结束 */
