/* 头部区域 */
div.header {
  width: calc(100vw - 17px);
  height: 41vw;
  background-image: url(../img/header_pc.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* pattern区域 */
div.patterns {
  width: calc(100vw - 17px);
  height: 39vw;
  padding-top: 9vw;
}
h1.title {
  font-family: Helvetica-Bold;
  font-size: 2vw;
  font-weight: 500vw;
  font-stretch: normal;
  letter-spacing: 0vw;
  color: #000000;
  text-align: center;
  margin-bottom: 4vw;
}
div.pattern {
  width: 67vw;
  height: 16vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
div.pattern img {
  width: 16vw;
  height: 16vw;
}
/* sunflower banner区域 */
div.banner {
  width: calc(100vw - 17px);
  height: 28vw;
  background-color: #fffdf3;
  padding: 0 17vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.banner img {
  width: 41vw;
  height: 24vw;
}
div.banner .sunflower__text.bottom {
  display: none;
}
div.banner .sunflower__text h1 {
  font-family: Helvetica-Bold;
  font-size: 2vw;
  font-weight: 500vw;
  font-stretch: normal;
  line-height: 2vw;
  letter-spacing: 0vw;
  color: #000000;
  margin-bottom: 2vw;
}
div.banner .sunflower__text p {
  width: 23vw;
  font-family: Helvetica-Light;
  font-size: 1vw;
  font-weight: 100vw;
  letter-spacing: 0vw;
  color: #2c2c2c;
}
