/* 头部区域 */
div.header {
  width: calc(100vw - 17px);
  height: 41vw;
  background-image: url(../img/header_pc.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* pattern区域 */
div.patterns {
  width: calc(100vw - 17px);
  height: 39vw;
  padding-top: 9vw;
}
h1.title {
  font-family: Helvetica-Bold;
  font-size: 2vw;
  font-weight: 800;
  font-stretch: normal;
  letter-spacing: 0vw;
  color: #000000;
  text-align: center;
  margin-bottom: 4vw;
}
div.pattern {
  width: 67vw;
  height: 16vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
div.pattern img {
  width: 16vw;
  height: 16vw;
}
/* banner区域 */
div.banner {
  width: calc(100vw - 17px);
  height: 28vw;
  padding: 0 17vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* 设置四个区域的banner颜色和隐藏文字 开始 */
div.sunflower {
  background-color: #fffdf3;
}
div.sunflower .text.bottom {
  display: none;
}
div.Pastel {
  background-color: #fff4f5;
}
div.Pastel .text.top {
  display: none;
}
div.Passi {
  background-color: #faf6fb;
}
div.Passi .text.bottom {
  display: none;
}
div.Wind {
  background-color: #f3f9ff;
}
div.Wind .text.top {
  display: none;
}
/* 设置四个区域的banner颜色和隐藏文字 结束 */
div.banner img {
  width: 41vw;
  height: 24vw;
}
div.banner .text h1 {
  font-family: Helvetica-Bold;
  font-size: 2vw;
  font-weight: 800;
  font-stretch: normal;
  line-height: 2vw;
  letter-spacing: 0vw;
  color: #000000;
  margin-bottom: 2vw;
}
div.banner .text p {
  width: 23vw;
  font-family: Helvetica-Light;
  font-size: 1vw;
  font-weight: 500;
  letter-spacing: 0vw;
  color: #2c2c2c;
}
/* swiper区域 */
div.swiper {
  width: calc(100vw - 17px);
  height: 35vw;
  background-color: #ffffff;
  padding-top: 6vw;
  position: relative;
}
div.swiper .swiper-wrapper {
  width: 67vw;
  height: 22vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
div.swiper .swiper-wrapper .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.swiper .swiper-wrapper .swiper-slide img {
  width: 16vw;
  height: 16vw;
}
div.swiper .swiper-wrapper .swiper-slide .title {
  font-family: Helvetica-Light;
  font-size: 1vw;
  font-weight: 500;
  font-stretch: normal;
  line-height: 2vw;
  letter-spacing: 0vw;
  color: #232323;
  margin-top: 1vw;
}
div.swiper .swiper-wrapper .swiper-slide .price {
  font-family: Helvetica-Bold;
  font-size: 1vw;
  font-weight: 800;
  font-stretch: normal;
  line-height: 2vw;
  letter-spacing: 0vw;
  color: #232323;
}
/* swiper 左右按钮 */
div.swiper-button {
  width: 3vw;
  height: 3vw;
  border-radius: 3vw;
  background-color: #eeeeee;
  position: absolute;
  top: 12vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* 鼠标移入样式 */
  cursor: pointer;
}
div.swiper-button .iconfont {
  font-size: 2vw;
  font-weight: 600;
  color: #232323;
}
div.swiper-button.swiper-button-prev {
  left: 12vw;
}
div.swiper-button.swiper-button-next {
  right: 12vw;
}
/* try区域 */
div.try {
  width: calc(100vw - 17px);
  height: 29vw;
  background-image: url(../img/try_pc.png);
  background-size: cover;
  padding-top: 4vw;
}
div.try h1 {
  font-family: Helvetica-Bold;
  font-size: 3vw;
  font-weight: 800;
  font-stretch: normal;
  letter-spacing: 0vw;
  color: #ffffff;
  line-height: 1;
  text-align: center;
  margin-bottom: 2vw;
}
div.try p.content {
  width: 46vw;
  height: 5vw;
  font-family: Helvetica;
  font-size: 1.5vw;
  font-weight: 500;
  font-stretch: normal;
  letter-spacing: 0vw;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2vw;
}
div.try div.search {
  width: 47vw;
  height: 3vw;
  margin: 0 auto;
  display: flex;
  margin-bottom: 2vw;
}
div.try div.search .search__input {
  width: 36vw;
  height: 3vw;
  border: 1px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.25);
  font-size: 2vw;
  color: #ffffff;
  text-align: center;
}
div.try div.search .search__button {
  width: 11vw;
  height: 3vw;
  border: solid 0vw #ffffff;
  background-color: #fff;
  font-family: Helvetica-Bold;
  font-size: 1.5vw;
  font-weight: 800;
  font-stretch: normal;
  letter-spacing: 0vw;
  color: #0b1a14;
  display: flex;
  justify-content: center;
  align-items: center;
  /* 鼠标移入显示小手 */
  cursor: pointer;
}
div.try p.content2 {
  width: 49vw;
  height: 3vw;
  line-height: 1.4vw;
  font-family: HelveticaNeueLTPro-Th;
  font-size: 1vw;
  font-weight: 500;
  font-stretch: normal;
  letter-spacing: 0vw;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
}
/* ask区域 */
div.ask {
  width: calc(100vw - 17px);
  height: 48vw;
  background-color: #ffffff;
  padding-top: 9vw;
}
div.ask h1 {
  width: 61vw;
  height: 2vw;
  font-family: Helvetica-Bold;
  font-size: 2vw;
  font-weight: 800;
  font-stretch: normal;
  letter-spacing: 0vw;
  color: #000000;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 5vw;
}
div.ask .img {
  width: 66vw;
  height: 24vw;
  margin: 0 auto;
  background-image: url(../img/ask.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
div.ask .img .item {
  text-align: center;
}
div.ask .img .item.one {
  width: 9vw;
}
div.ask .img .item.two {
  width: 16vw;
}
div.ask .img .item.three {
  width: 11vw;
}
div.ask .img .item .item-img {
  width: 6vw;
  height: 6vw;
  margin-bottom: 1vw;
}
div.ask .img .item .item-content {
  font-family: Helvetica-Bold;
  font-size: 1vw;
  font-weight: 600;
  font-stretch: normal;
  line-height: 2vw;
  letter-spacing: 0vw;
  color: #ffffff;
}
div.ask .gap {
  height: 9vw;
  background-color: #ffffff;
}
