/* 头部区域 */
div.header {
  width: calc(100vw - 17px);
  height: 41vw;
  background-image: url(../img/header_pc.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* pattern区域 */
div.patterns {
  width: calc(100vw - 17px);
  height: 39vw;
  padding-top: 9vw;
}
h1.title {
  font-family: Helvetica-Bold;
  font-size: 2vw;
  font-weight: 800;
  font-stretch: normal;
  letter-spacing: 0vw;
  color: #000000;
  text-align: center;
  margin-bottom: 4vw;
}
div.pattern {
  width: 67vw;
  height: 16vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
div.pattern img {
  width: 16vw;
  height: 16vw;
}
/* banner区域 */
div.banner {
  width: calc(100vw - 17px);
  height: 28vw;
  padding: 0 17vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.sunflower {
  background-color: #fffdf3;
}
div.sunflower .text.bottom {
  display: none;
}
div.Pastel {
  background-color: #fff4f5;
}
div.Pastel .text.top {
  display: none;
}

div.banner img {
  width: 41vw;
  height: 24vw;
}
div.banner .text h1 {
  font-family: Helvetica-Bold;
  font-size: 2vw;
  font-weight: 800;
  font-stretch: normal;
  line-height: 2vw;
  letter-spacing: 0vw;
  color: #000000;
  margin-bottom: 2vw;
}
div.banner .text p {
  width: 23vw;
  font-family: Helvetica-Light;
  font-size: 1vw;
  font-weight: 500;
  letter-spacing: 0vw;
  color: #2c2c2c;
}
/* swiper区域 */
div.swiper {
  width: calc(100vw - 17px);
  height: 35vw;
  background-color: #ffffff;
  padding-top: 6vw;
  position: relative;
}
div.swiper .swiper-wrapper {
  width: 67vw;
  height: 22vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
div.swiper .swiper-wrapper .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.swiper .swiper-wrapper .swiper-slide img {
  width: 16vw;
  height: 16vw;
}
div.swiper .swiper-wrapper .swiper-slide .title {
  font-family: Helvetica-Light;
  font-size: 1vw;
  font-weight: 500;
  font-stretch: normal;
  line-height: 2vw;
  letter-spacing: 0vw;
  color: #232323;
  margin-top: 1vw;
}
div.swiper .swiper-wrapper .swiper-slide .price {
  font-family: Helvetica-Bold;
  font-size: 1vw;
  font-weight: 800;
  font-stretch: normal;
  line-height: 2vw;
  letter-spacing: 0vw;
  color: #232323;
}
/* swiper 左右按钮 */
div.swiper-button {
  width: 3vw;
  height: 3vw;
  border-radius: 3vw;
  background-color: #eeeeee;
  position: absolute;
  top: 12vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* 鼠标移入样式 */
  cursor: pointer;
}
div.swiper-button .iconfont {
  font-size: 2vw;
  font-weight: 600;
  color: #232323;
}
div.swiper-button.swiper-button-prev {
  left: 12vw;
}
div.swiper-button.swiper-button-next {
  right: 12vw;
}
