.site-head {
  min-width: 1152px;
  height: 150px;
}

.banner {
  position: relative;
  overflow: hidden;
}

.banner .center-wrap {
  /* 只要有压盖，第一时间就要想到绝对定位 */
  position: absolute;
  top: 0;
  left: 0;
  width: 1152px;
  left: 50%;
  margin-left: -576px;
  /* 这里的100%高度绝对不能省略，因为如果省略了，它的height就是0 */
  /* 那么它的子盒子设置16.6%就没有意义了 */
  height: 100%;
}

.content-part em {
  position: relative;
  top: 20px;
  left: 10px;
  color: #1c1f21;
  float: left;
}


.content-part .hd nav {
  float: right;
  width: 546px;
}
.content-part .hd nav ul {
  padding-top: 16px;
}
.content-part .hd nav ul li {
  float: left;
  margin-right: 16px;
  font-size: 14px;
}
.content-part .hd nav ul li:last-child {
  margin-right: 0;
}
.content-part .hd nav ul li a {
  color: rgba(0, 0, 0, 0.85);
}
.content-part .hd nav ul li.current {
  border-bottom: 4px solid #ff9d00;
  padding-bottom: 4px;
}
.content-part .hd nav ul li.current a {
  color: #ff9d00;
}
/* 公共的一个特效：鼠标触碰图片，能够有放大效果 */
.content-part img {
  transition: transform 0.4s ease 0s;
}
.content-part img:hover {
  transform: scale(1.1);
}
.content-part li {
  overflow: hidden;
}
.content-part li .picbox {
  height: 184px;
  overflow: hidden;
}
.content-part .grid {
  overflow: hidden;
}


.content-part .more-grid {
  width: 264px;
  height: 270px;
  background-image: linear-gradient(180deg, #34e3bc 0%, #15af7a 98%);
  box-sizing: border-box;
  position: relative;
}
.content-part .more-grid a {
  display: block;
  height: 270px;
  padding-top: 46px;
  box-sizing: border-box;
}
.content-part .more-grid p {
  text-align: center;
  color: white;
  line-height: 24px;
  font-size: 15px;
}
.content-part .more-grid .iconfont {
  position: absolute;
  font-size: 48px;
  color: white;
  width: 48px;
  height: 48px;
  left: 50%;
  top: 118px;
  margin-left: -24px;
}
/* 鼠标触碰more-grid盒子之后，iconfont进行蹦跳动画 */
.content-part .more-grid:hover .iconfont {
  animation: ud 0.4s ease 0s infinite alternate;
}
@keyframes ud {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
  }
}
.content-part .more-grid ul {
  margin-top: 112px;
  padding-left: 40px;
}
.content-part .more-grid ul li {
  color: white;
  float: left;
  border-right: 1px solid white;
  padding: 0 9px;
  height: 14px;
  line-height: 14px;
  font-size: 14px;
}
.content-part .more-grid ul li:last-child {
  border-right: none;
}



.big-grid.havehover .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  /* 总透明度 */
  opacity: 0;
  /* 过渡 */
  transition: opacity 0.4s ease 0s;
}
.big-grid.havehover:hover .mask {
  opacity: 1;
}
.big-grid.havehover .circle {
  position: absolute;
  top: -106px;
  left: 50%;
  margin-left: -53px;
  width: 106px;
  height: 106px;
  border: 1px solid white;
  border-radius: 50%;
  color: white;
  box-sizing: border-box;
  padding-top: 25px;
  font-size: 18px;
  transition: top 0.5s ease 0s;
}
.big-grid.havehover .circle p {
  text-align: center;
}
.big-grid.havehover:hover .circle {
  top: 62px;
}
.big-grid.havehover .word {
  position: absolute;
  bottom: -100px;
  left: 10px;
  color: white;
  transition: bottom 0.5s ease 0s;
}
.big-grid.havehover:hover .word {
  bottom: 30px;
}





