.site-head {
  min-width: 1152px;
  height: 150px;
}

.banner {
  position: relative;
  overflow: hidden;
}

.banner .center-wrap {
  /* 只要有压盖，第一时间就要想到绝对定位 */
  position: absolute;
  top: 0;
  left: 0;
  width: 1152px;
  left: 50%;
  margin-left: -576px;
  /* 这里的100%高度绝对不能省略，因为如果省略了，它的height就是0 */
  /* 那么它的子盒子设置16.6%就没有意义了 */
  height: 100%;
}

.content-part em {
  position: relative;
  top: 20px;
  left: 10px;
  color: #1c1f21;
  float: left;
}

.common-style {
  height: 698px;
  padding-top: 40px;
}
.common-style .hd h2 {
  float: left;
}
.common-style .hd em {
  float: left;
}
.content-part .hd nav {
  float: right;
  width: 546px;
}
.content-part .hd nav ul {
  padding-top: 16px;
}
.content-part .hd nav ul li {
  float: left;
  margin-right: 16px;
  font-size: 14px;
}
.content-part .hd nav ul li:last-child {
  margin-right: 0;
}
.content-part .hd nav ul li a {
  color: rgba(0, 0, 0, 0.85);
}
.content-part .hd nav ul li.current {
  border-bottom: 4px solid #ff9d00;
  padding-bottom: 4px;
}
.content-part .hd nav ul li.current a {
  color: #ff9d00;
}
/* 公共的一个特效：鼠标触碰图片，能够有放大效果 */
.content-part img {
  transition: transform 0.4s ease 0s;
}
.content-part img:hover {
  transform: scale(1.1);
}
.content-part li {
  overflow: hidden;
}
.content-part li .picbox {
  height: 184px;
  overflow: hidden;
}
.content-part .grid {
  overflow: hidden;
}
.common-style .bd {
  padding-top: 32px;
}
.common-style .bd > ul > li {
  float: left;
  margin-right: 32px;
  margin-bottom: 32px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
  background-color: white;
}
.common-style .bd > ul > li:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.common-style .bd > ul > li:nth-child(3),
.common-style .bd > ul > li:nth-child(7) {
  margin-right: 0;
}
.common-style .bd > ul > li.big-grid {
  width: 560px;
  height: 270px;
  position: relative;
}
.common-style .bd > ul > li.big-grid .info {
  position: absolute;
  width: 560px;
  height: 103px;
  color: white;
  background-color: rgba(0, 0, 0, 0.55);
  bottom: 0;
  left: 0;
  padding: 30px 26px;
  box-sizing: border-box;
  line-height: 26px;
}
.common-style .bd > ul > li .tag {
  position: absolute;
  width: 74px;
  height: 40px;
  color: white;
  background-color: rgba(0, 0, 0, 0.55);
  bottom: 103px;
  left: 0;
  text-align: center;
  line-height: 40px;
  /* 图片一触碰，就会有transform变形，那么此时会神奇的盖住tag，所以为了防止盖住，我们应该设置z-index属性值 */
  z-index: 9999;
}
.common-style .bd > ul > li.pro-grid {
  width: 264px;
  height: 270px;
}
.common-style .bd > ul > li.pro-grid .picbox {
  overflow: hidden;
  position: relative;
  height: 184px;
}
.common-style .bd > ul > li.pro-grid .picbox .tag {
  bottom: 0;
}
.common-style .bd > ul > li.pro-grid .wordbox {
  padding: 14px;
  font-size: 14px;
  color: #1c1f21;
  line-height: 26px;
}
.content-part .more-grid {
  width: 264px;
  height: 270px;
  background-image: linear-gradient(180deg, #34e3bc 0%, #15af7a 98%);
  box-sizing: border-box;
  position: relative;
}
.content-part .more-grid a {
  display: block;
  height: 270px;
  padding-top: 46px;
  box-sizing: border-box;
}
.content-part .more-grid p {
  text-align: center;
  color: white;
  line-height: 24px;
  font-size: 15px;
}
.content-part .more-grid .iconfont {
  position: absolute;
  font-size: 48px;
  color: white;
  width: 48px;
  height: 48px;
  left: 50%;
  top: 118px;
  margin-left: -24px;
}
/* 鼠标触碰more-grid盒子之后，iconfont进行蹦跳动画 */
.content-part .more-grid:hover .iconfont {
  animation: ud 0.4s ease 0s infinite alternate;
}
@keyframes ud {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
  }
}
.content-part .more-grid ul {
  margin-top: 112px;
  padding-left: 40px;
}
.content-part .more-grid ul li {
  color: white;
  float: left;
  border-right: 1px solid white;
  padding: 0 9px;
  height: 14px;
  line-height: 14px;
  font-size: 14px;
}
.content-part .more-grid ul li:last-child {
  border-right: none;
}



.big-grid.havehover .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  /* 总透明度 */
  opacity: 0;
  /* 过渡 */
  transition: opacity 0.4s ease 0s;
}
.big-grid.havehover:hover .mask {
  opacity: 1;
}
.big-grid.havehover .circle {
  position: absolute;
  top: -106px;
  left: 50%;
  margin-left: -53px;
  width: 106px;
  height: 106px;
  border: 1px solid white;
  border-radius: 50%;
  color: white;
  box-sizing: border-box;
  padding-top: 25px;
  font-size: 18px;
  transition: top 0.5s ease 0s;
}
.big-grid.havehover .circle p {
  text-align: center;
}
.big-grid.havehover:hover .circle {
  top: 62px;
}
.big-grid.havehover .word {
  position: absolute;
  bottom: -100px;
  left: 10px;
  color: white;
  transition: bottom 0.5s ease 0s;
}
.big-grid.havehover:hover .word {
  bottom: 30px;
}
footer .part1 {
  height: 220px;
  background-color: #f7f7f7;
}
footer .part1 ul {
  padding-top: 36px;
}
footer .part1 ul li {
  float: left;
  border-right: 1px solid #1c1f21;
  padding: 0 70px;
  height: 16px;
  line-height: 16px;
}
footer .part1 ul li a {
  color: #1c1f21;
  font-size: 16px;
}
footer .part1 ul li:first-child {
  padding-left: 0;
}
footer .part1 ul li:last-child {
  border-right: none;
  padding-right: 0;
}
footer .part1 .dlbox {
  padding-top: 40px;
}
footer .part1 dl {
  width: 289px;
  float: left;
  padding-left: 75px;
  margin-right: 30px;
  position: relative;
}
footer .part1 dl:last-child {
  margin-right: 0;
}
footer .part1 dl dt {
  font-weight: bold;
  margin-bottom: 10px;
}
footer .part1 dl::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url(../images/icons.png);
  left: 0;
}
footer .part1 dl dd {
  font-size: 14px;
}
footer .part1 dl.txfw::before {
  background-position: -150px -178px;
  fill: #ff9d00; /* 修改的颜色 */
  filter: hue-rotate(-133deg); /* 通过色相旋转修改颜色 */
}
footer .part1 dl.ccsx::before {
  background-position: -150px -104px;
  fill: #ff9d00; /* 修改的颜色 */
  filter: hue-rotate(-133deg); /* 通过色相旋转修改颜色 */
}
footer .part1 dl.axph::before {
  background-position: -150px -31px;
  fill: #ff9d00; /* 修改的颜色 */
  filter: hue-rotate(-133deg); /* 通过色相旋转修改颜色 */
}
footer .part2 {
  height: 225px;
  background-color: #333333;
}
footer .part2 .r1 {
  padding-top: 48px;
  color: white;
}
footer .part2 .r1 h2 {
  float: left;
  font-size: 46px;
}
footer .part2 .r1 .slogan {
  float: left;
  width: 532px;
  font-size: 20px;
  margin-left: 21px;
  position: relative;
  top: 14px;
}
footer .part2 .links {
  padding-top: 30px;
}
footer .part2 .links li {
  float: left;
  border-right: 1px solid white;
  padding: 0 10px;
  font-size: 14px;
  line-height: 14px;
  height: 14px;
}
footer .part2 .links li a {
  color: white;
}
footer .part2 .links li:first-child {
  padding-left: 0;
}
footer .part2 .links li:last-child {
  border-right: none;
}
footer .copyrights {
  color: white;
  padding-top: 20px;
  font-size: 14px;
}
footer .copyrights a {
  color: white;
}
.backtotop {
  position: fixed;
  bottom: 80px;
  right: 80px;
  width: 80px;
  height: 80px;
  background: #2a1414;
  font-size: 20px;
  text-align: center;
  padding-top: 12px;
  box-sizing: border-box;
  color: white;
  /* 隐藏元素 */
  display: none;
}
